header {
    position: relative !important;
}

footer {
    margin-bottom: 0!important;
}

.about-section {
    margin: 0 auto 5%;
    padding: 5%;
    text-align: center;
    background-color: #F4ECEE;
}

.about-section img {
    width: 70%;
}

.about-section h2 {
    padding-top: 5rem;
}

.about-section p {
    text-align: left;
}

.testimonials {
    padding: 0 5%;
}

.testimonials .testimonial {
    text-align: center;
    gap: 16px;
}

.testimonials .row {
    gap: 4rem;
}

