header {
    position: relative !important;
}

footer {
    margin-bottom: 0!important;
}


.blog-section {
    margin: 5% auto;
    padding: 1% 5%;
    text-align: center;
}

.blog-section span {
    padding-bottom: 5px;
}