@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px ose 1rem = 10px*/
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: black;
}

.flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    font-size: 3.6rem;
    text-align: center;
    padding-bottom: 5%;
    font-weight: 600;
    line-height: 1.01;
}
h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2.8rem;
    line-height: 1.1;
}
h4 {
    font-size: 2.4rem;
}

p {
    line-height: 1.5;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}
a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;

}
img{
    width: 100%;
    height: auto;
}
.btn {
    padding: 1.3rem 2.8rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.logo {
    color: #F77F00;
}


/* Header (navigation-bar) section */


header {
    background-color: #361C26;
    margin: 0 auto;
    padding: 0 5%;
    height: 12%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header h2{
    padding: 0;
} 

h2 a{
    font-size: 3rem;
    font-weight: 800;
}


.navbar {
    gap: 5.5rem;
}

.navbar .nav-list {
    list-style: none;
    gap: 2rem;
}
.nav-list .nav-link {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 4px;
}
.nav-link:hover, .nav-link:active{
    color: #F77F00;
    border-bottom: 2px solid #F77F00;
}

.nav-buttons{
    gap: 1rem;
}
.nav-buttons .btn {
    padding: 10px 20px;
}

.btn-log,.btn-log:link, .btn-log:visited  {    
    background-color: #fff;
    color: #361C26;
}

.btn-log:hover, .btn-log:active  {
    color: #fff;
    background-color: #F77F00;
}

.btn-reg,.btn-reg:link, .btn-reg:visited  {
    background-color: #F77F00;
    color: #fff;
    border: 1px solid #361C26;
   
}
.btn-reg:hover, .btn-reg:active  {
    background-color: #fff;
    color: #F77F00;
    border: 1px solid #F77F00;
    
}




/* hero section */
.hero-section {
    margin: 0 auto;
    margin-bottom: 3rem;
    /* padding-top: 4.5rem; */
}
.hero {
    background-color: #F4ECEE;
    padding: 6% 3.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}
.primary-header {
    font-size: 4.6rem;
    line-height: 1.05;
    line-height: 1;
    margin-bottom: 3.4rem;
}
.primary-header span{
    color: #F77F00;
}
.hero-desc p{
    padding-bottom: 3rem;
}
.btn-discover,.btn-discover:link, .btn-discover:visited  {
    background-color: #F77F00;
    color: #fff;
    border: 1px solid #0a0908;
}
.btn-discover:hover, .btn-discover:active  {
    background-color: #fff;
    color: #F77F00;
    border: 1px solid #F77F00;
}


/* Latest Recipes section */
.latest-recipes{
    margin: 5% auto;
    padding: 5%;
    text-align: center;
}

.items{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.col-4 {
    object-fit: contain;
    transition: all 0.4s;
}

.col-4:hover{
    transform: scale(1.05);
}


.items .col-4 img {
    padding-bottom: 10px;
}



/* Catalog section */
.catalog-section {
    margin: 0 auto;
    padding: 0 2rem;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.catalog-item {
    overflow: hidden;
}

.catalog img {
    object-fit: contain;
    transition: all 0.4s;
}

.catalog img:hover{
    transform: scale(1.05);
}


/* Footer */
footer {
    margin: 5% auto 0 auto;
    padding: 5% 5% 0;
    background-color: #361C26;
    flex-direction: column;
    color: #fff;
}

footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5%;
}

.footer h2 {
    text-align: left;
}


.footer h2 a{
    font-size: 3rem;
    text-align: left;
}
.footer h4 {
    padding-bottom: 2rem;
}

.logo {
    text-align: left;
}
.social-items {
    list-style: none;
    width: 80%;
}
.social-items ion-icon{
    font-size: 2.8rem;
}

ion-icon:hover, ion-icon:active{
    color: #F77F00;
}

.useful-links {
    flex-direction: column;
    justify-content: start
}

.footer-links {
    list-style: none;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-link:hover, .footer-link:active{
    color: #F77F00;
    border-bottom: 2px solid #F77F00;
}

.contact {
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.subscribe .email-input {
    padding: 4.5% 10% 4% 0;
    background-color: #361C26;
    border: 1.5px solid black;
}

a.email {
    padding: 3.5% 6% 3.9%;
    border-radius: 2px;
}

::placeholder {
    padding: 8px;
}


.copyright {
    width: 100%;
    background-color: #361C26;
    text-align: center;
    padding: 1%;
} 

.copyright p {
    margin-top: 2rem;
    margin-bottom: 0 !important;
}